:root {
  --primary: #781f3d;
  --secondary: #9863fb;
  --light: #ffffff;
  --light-alt: #687388;
  --dark: #3f51716e;
  --dark-alt: #202122;
  --green: #00ffff;
  --bg: rgb(3, 30, 47);
}

* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

body {
  background-color: var(--bg);
  margin: 0%;
  height: 100%;
  /* background-image: linear-gradient(
    172deg,
    rgba(0, 75, 121, 1) 0%,
    rgba(0, 19, 42, 1) 100%
  ); */
  /* background-color: rgb(0, 75, 121); */
  /* background-image: url("https://img.freepik.com/free-vector/dark-gradient-background-with-copy-space_53876-99548.jpg?w=1800&t=st=1687439822~exp=1687440422~hmac=d16f30d406ad8c90c0c48e24d216a9f287a93919c806a95b1d01cea117cf8a40"); */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

/* .App {
  padding: 32px;
} */

h1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
  color: var(--light);
}

h4 {
  font-size: 18px;
  color: var(--light-alt);
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 16px;
  color: var(--light);
}

.todo {
  position: relative;
  background-color: var(--dark);
  padding: 16px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  transition: 0.5s;
  cursor: pointer;
  margin-bottom: 16px;
}

.todo:hover {
  opacity: 0.8;
}

.todo .checkbox {
  width: 20px;
  height: 20px;
  margin-right: 16px;
  border-radius: 50%;
  background-color: var(--dark-alt);
  background-image: linear-gradient(to bottom, transparent, transparent);
  transition: 0.4s;
}

.todo.is-complete .checkbox {
  background-color: var(--green);
}

.todo .text {
  font-size: 20px;
  color: var(--light);
}

.todo.is-complete .text {
  text-decoration: line-through;
}

.todo .delete-todo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 16px;
  color: var(--light);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: #af1e2cb7;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}
